{{>header}}
<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-sm-12">
                <h1>Mijn Uitkering</h1>
                <p class="lead">Hier vindt u een overzicht van uw uitkeringen.</p>
                {{#multipleUitkeringen}}
                    <div class="tabs-wrapper">
                        <!-- Tab List -->
                        <div class="nav classic-tabs-no-line" role="tablist" aria-label="Uitkeringen">
                        {{#uitkeringen}}
                            <div class="nav-item">
                                <button class="nav-link {{#selected}}active{{/selected}}" role="tab" {{#selected}}aria-selected="true" {{/selected}} aria-controls="{{uitkeringattr}}-tab" id="{{uitkeringattr}}-tabcontrol">
                                    {{type}}
                                </button>
                            </div>
                        {{/uitkeringen}}
                        </div>
                        {{#uitkeringen}}
                        <!-- Tab Content -->
                        <div class="tab-content" tabindex="0" role="tabpanel" id="{{uitkeringattr}}-tab" aria-labelledby="{{uitkeringattr}}-tabcontrol">
                            {{> uitkering }}
                        </div>
                        {{/uitkeringen}}
                    </div>
                {{/multipleUitkeringen}}
                {{^multipleUitkeringen}}
                    {{#uitkeringen}}
                        {{> uitkering }}
                    {{/uitkeringen}}
                {{/multipleUitkeringen}}
                {{^uitkeringen}}
                <p>U heeft geen lopende uitkeringen.</p>
                {{/uitkeringen}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}